.main
  = render "partials/tab-nav"

  %p.show-question-help.moved
    = link_to 'Show tips', '#'
  .question-help-container
    .question-help
      = link_to 'Close tips', '#', :class => 'hide-question-help'
      (a) Enter the total number of staff members that received training in this subject from July 2009 - June 2000, regarddless of how many days' draining they received.
      %br
      (b) Enter the cumulative number of training days spent on that module. To do so, add up all of the days spent by every person who participated in that module.

  %ul#questions
    %li.question
      %h4.section-title
        %span.question-default
          = image_tag("icons/star_small.png")
        DISTRICT SUMMARY REPORT (Human Resources for Health x West)

      .selector
        %span Report Category:
        %select
          %option Critical Indicators

    %table.listing.push-top-10
      %thead
        %tr
          %th Facility
          %th{:colspan => 2} Management training days
          %th{:colspan => 2} Nurse training days
          %th{:colspan => 2} % Nurses A1 Status

      %tbody
        %tr.tree_sign_minus
          %td{:style => 'padding-left: 20px;'} West
          %td Total: <span>63</span>
          %td Avg: <span>21</span>
          %td Total: <span>63</span>
          %td Avg: <span>21</span>
          %td Total: <span>63</span>
          %td Avg: <span>21</span>
        %tr.sub_tree{:style => "display: table-row"}
          %td{:colspan => 7}
            %table
              %tr.tree_sign_minus
                %td{:style => 'padding-left: 20px;'} Karongi
                %td Total: <span>21</span>
                %td Avg: <span>2.1</span>
                %td Total: <span>21</span>
                %td Avg: <span>2.1</span>
                %td Total: <span>21</span>
                %td Avg: <span>2.1</span>
              %tr.sub_tree{:style => "display: table-row"}
                %td{:colspan => 7}
                  %table
                    %tr
                      %td{:style => 'padding-left: 40px;'} Kibuye HD
                      %td{:colspan => 2} 1
                      %td{:colspan => 2} 1
                      %td{:colspan => 2} 1
                    %tr
                      %td{:style => 'padding-left: 40px;'} Kirinda HD
                      %td{:colspan => 2} 5
                      %td{:colspan => 2} 5
                      %td{:colspan => 2} 5
                    %tr
                      %td{:style => 'padding-left: 40px;'} Mugonero HD
                      %td{:colspan => 2} 6
                      %td{:colspan => 2} 6
                      %td{:colspan => 2} 6
                    %tr
                      %td{:style => 'padding-left: 40px;'} Biguhu CS
                      %td{:colspan => 2} 4
                      %td{:colspan => 2} 4
                      %td{:colspan => 2} 4
                    %tr
                      %td{:style => 'padding-left: 40px;'} Birambo CS
                      %td{:colspan => 2} 3
                      %td{:colspan => 2} 3
                      %td{:colspan => 2} 3
                    %tr
                      %td{:style => 'padding-left: 40px;'} Bisesero CS
                      %td{:colspan => 2} 6
                      %td{:colspan => 2} 6
                      %td{:colspan => 2} 6
                    %tr
                      %td{:style => 'padding-left: 40px;'} Bubazi CS
                      %td{:colspan => 2} 4
                      %td{:colspan => 2} 4
                      %td{:colspan => 2} 4
                    %tr
                      %td{:style => 'padding-left: 40px;'} Gatare (TWUMBA) CS
                      %td{:colspan => 2} 1
                      %td{:colspan => 2} 1
                      %td{:colspan => 2} 1
                    %tr
                      %td{:style => 'padding-left: 40px;'} Gisovu CS
                      %td{:colspan => 2} 4
                      %td{:colspan => 2} 4
                      %td{:colspan => 2} 4
                    %tr
                      %td{:style => 'padding-left: 40px;'} Karongi (Gisunzu) Police CS
                      %td{:colspan => 2} 2
                      %td{:colspan => 2} 2
                      %td{:colspan => 2} 2
              %tr.tree_sign_plus
                %td{:style => 'padding-left: 20px;'} Ngororero
                %td Total: <span>21</span>
                %td Avg: <span>2.1</span>
                %td Total: <span>21</span>
                %td Avg: <span>2.1</span>
                %td Total: <span>21</span>
                %td Avg: <span>2.1</span>
              %tr.sub_tree
                %td{:colspan => 7}
                  %table
                    %tr
                      %td{:style => 'padding-left: 40px;'} Lorem
                      %td{:colspan => 2} 1
                      %td{:colspan => 2} 1
                      %td{:colspan => 2} 1
                    %tr
                      %td{:style => 'padding-left: 40px;'} Ipsum
                      %td{:colspan => 2} 5
                      %td{:colspan => 2} 5
                      %td{:colspan => 2} 5
              %tr.tree_sign_plus
                %td{:style => 'padding-left: 20px;'} Nyabihu
                %td Total: <span>21</span>
                %td Avg: <span>2.1</span>
                %td Total: <span>21</span>
                %td Avg: <span>2.1</span>
                %td Total: <span>21</span>
                %td Avg: <span>2.1</span>
              %tr.sub_tree
                %td{:colspan => 7}
                  %table
                    %tr
                      %td{:style => 'padding-left: 40px;'} Lorem
                      %td{:colspan => 2} 1
                      %td{:colspan => 2} 1
                      %td{:colspan => 2} 1
