!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "HTML Tidy for Linux/x86 (vers 11 February 2007), see www.w3.org", :name => "generator"}/
    %title District Summary Reports
    %link{:href => "http://static.districthealth.moh.gov.rw/TOkNu9LDencLzreU6u7DZPxhBGtzxvlYwXguYj4EPRe.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
    %meta{:content => "text/html; charset=us-ascii", "http-equiv" => "Content-Type"}/
    %meta{:content => "main", :name => "layout"}/
    / for admin forms
    -# %script{:src => "http://static.districthealth.moh.gov.rw/IKfETRJERwBRdVMGxGDGgTIvzB2B464w7472lQKpd3b.js", :type => "text/javascript"}

    %link{:type => "text/css", :media => "screen", :rel => "stylesheet", :href => "stylesheets/screen.css"}
    %link{:type => "text/css", :media => "print", :rel => "stylesheet", :href => "stylesheets/print.css"}

    %script{:src => "js/jquery.js", :type => "text/javascript"}
    %script{:src => "js/dropdown_init.js", :type => "text/javascript"}
    %script{:src => "js/foldable_init.js", :type => "text/javascript"}
    %script{:src => "js/questionhelp_init.js", :type => "text/javascript"}
    %script{:src => "js/application.js", :type => "text/javascript"}
    %script{:src => "js/jquery/tipsy/src/javascripts/jquery.tipsy.js", :type => "text/javascript"}
  %body
    #spinner.spinner{:style => "display: none;"}
      %img{:alt => "Loading...", :src => "/kevin/static/RUqKjjg0blqYq46cT6pZl3avB2GM1AWLPs1pE4vbKUr.gif"}/
    #header
      .wrapper
        %h1#logo
          %a{:href => "/kevin/"} DHSST
        %ul#switcher.locales
          %li
            %a.no-link{:href => "/kevin/dashboard/view/1/1?objective=1&dashboardEntity=1&lang=en"} en
          %li
            %a{:href => "/kevin/dashboard/view/1/1?objective=1&dashboardEntity=1&lang=fr"} fr
          %li
            %a{:href => "/kevin/dashboard/view/1/1?objective=1&dashboardEntity=1&lang=rw"} rw
        %ul#top_nav.locales
          %li
            %a{:href => "/kevin/auth/newPassword?targetURI=%2Fdashboard%2Fview%2F1%2F1%3Fobjective%3D1%26dashboardEntity%3D1%26lang%3Drw"} My Account
          %li
            %a.no-link{:href => "/kevin/auth/signOut"} Logout
        %h2
          %span.right
            %img{:alt => "Rwanda coat of arms", :src => "/kevin/static/LK6UbUK33KUP73Ws3xeZlquQqCkj1YHlG73Hz5EPXWo.png", :width => "33"}/
          %span Rwanda Ministry Of Health
          District Health Systems Strenghtening Tool
        %ul#logout
          %li
            %a.redmine.follow{:href => "http://districthealth.moh.gov.rw/redmine", :target => "_blank"} Report a bug
          %li
            %a.redmine.follow{:href => "/kevin/helpdesk"} Helpdesk 114
      .clear
    / <h1>Welcome to Kevin</h1>
    #navigation
      .wrapper
        %ul#main-menu.menu
          %li
            %a{:href => "/kevin/planning/workflow"} Planning
          %li
            %a{:href => "/kevin/editSurvey/view"} Survey
          %li
            %a.active{:href => "#", :onclick => "return false;"} Reports
            %ul.submenu
              %li
                %a.active{:href => "/kevin/dashboard/view"} Dashboard
              %li
                %a{:href => "/kevin/cost/view"} Costing
              %li
                %a{:href => "/kevin/dsr/view"} District Summary Reports
              %li
                %a{:href => "/kevin/maps/view"} Maps
              %li
                %a{:href => "/kevin/fct/view"} Facility Count Tables
          %li
            %a{:href => "#", :onclick => "return false;"} Administration
            %ul.submenu
              / <li><a href="/kevin/constant/list">Constants</a></li>
              %li
                %a{:href => "/kevin/rawDataElement/list"} Raw data Element
              %li
                %a{:href => "/kevin/normalizedDataElement/list"} Normalized data element
              %li
                %a{:href => "/kevin/calculation/list"} Calculation
              %li
                %a{:href => "/kevin/enum/list"} Enum
              %li
                %a{:href => "/kevin/iteration/list"} Iteration
              %li
                %a{:href => "/kevin/survey/list"} Survey
              %li
                %a{:href => "/kevin/user/list"} User
              %li
                %a{:href => "/kevin/importerEntity/importer"} Import
    #content
      .wrapper
        #report
          = render "partials/subnav"
          = yield

    #footer
      .wrapper
        \© Clinton Health Access Initiative
        %br/
        %a{:href => "/kevin/about"} About
        |
        %a{:href => "/kevin/contact"} Contact
        |
        %a{:href => "/kevin/helpdesk"} HelpDesk
    %script{:src => "/kevin/static/lInBH1emtinXHaXgdDOicoMATGOYHtkVu76B6Z9pgWG.js", :type => "text/javascript"}
    %script{:src => "/kevin/static/SIqAArNWIgTC3ovWp2FIR5EHa3UyV7tQmIh3CVeLwa1.js", :type => "text/javascript"}
    %script{:src => "/kevin/static/Ah2SUWwEeXLsKP0dFumcARvEre4AWmdlBmazKKaH1ln.js", :type => "text/javascript"}
    %script{:src => "/kevin/static/wnYHZlUNJYYBKshR8xWqn42JbAFOfxIzaiMUWM8ynLd.js", :type => "text/javascript"}
    :javascript
      //Styling the main menu
      $('#main-menu > li').hover(
      	function () {
      		//show its submenu
      		if (!$('ul', this).hasClass('open')) {
      			$('ul', this).addClass('open');
      			$('ul', this).show();
      		}
	 
      	}, 
      	function () {
      		var self = this;
      		//hide its submenu
      		$('ul', this).slideUp(10, function(){
      			$('ul', self).removeClass('open');
      		});	
      	}
      );